.order-listings {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2% 5% 0 0;
}

.order-listings .filters {
    width: 20%;
    background-color: var(--surface);
    padding: 15px;
    border-radius: 12px 12px 12px 12px;
    font-size: 13px;
    margin: 0 2% 0 0;
}

.order-listings .orders {
    width: 75%;
}

.orders .orders-table {
    width: 100%;
    border: 0;
    margin-top: 20px;
    table-layout: fixed !important;
    font-size: 13px;
}

#pagination .cursor {
    font-size: 1.5em;
    font-weight: bold;
}

#pagination .cursor:hover {
    color: var(--primary);
}