<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         bootstrap="app/init.php"
         executionOrder="random"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/units</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="BFST_ENVIRONMENT" value="testing"/>
    </php>
</phpunit>