<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="app/init.php"
        colors="true"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/units</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="BFST_ENVIRONMENT" value="testing"/>
    </php>
</phpunit>